.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
     background-color: #333;
    background-image: url("/public/blur-radial.svg"),
        url("/public/blur-radial.svg");
    background-position:
        top -150px left -400px,
        bottom -200px right -450px;
    background-size: 50%, 50%;
    background-repeat: no-repeat;
}

.login__content{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
    width: clamp(300px, 33vw, 600px);
}

.login__content-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: #5f5f5f 1px solid;
    padding: 1rem;
}

.login__content-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 3rem;
    width: 100%;
}

.login__content-inputs input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: #8e8e8e 1px solid;
    background-color: transparent;
}


.login__content-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    width: 100%;
}

.login__content-buttons button{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #c69f00;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

.login__content-buttons button:hover{
    background-color: #f9c800;
    color: #333;
}
.login__content-registro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.login__content-registro span {
    color: rgb(198, 198, 198);
    cursor: pointer;
}

.login__content-registro span:hover {
    color: #ffcc00;
}
