html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Poppins';
}

* {
  box-sizing: inherit; /* Asegura que todos los elementos usen el mismo modelo de caja */
}
